<script>
import GlFormGroup from '@gitlab/ui/src/components/base/form/form_group/form_group.vue';
import { startCase } from 'lodash';
import TokenTable from '../components/token_table.vue';
import defaultTokens from '../static/tokens/tokens.json';
import darkTokens from '../static/tokens/tokens.dark.json';
import compactTokens from '../static/tokens/tokens.compact.json';

const modes = [
  {
    value: 'default',
    text: 'Default',
  },
  {
    value: 'dark',
    text: 'Dark',
  },
  {
    value: 'compact',
    text: 'Compact',
  },
];

const modeTokens = {
  default: defaultTokens,
  dark: darkTokens,
  compact: compactTokens,
};

export default {
  name: 'IndexPage',
  modes,
  modeTokens,
  components: {
    GlFormGroup,
    TokenTable,
    // The GlOutsideDirective used by GlCollapsibleListbox has an import-time dependency
    // on `window`, so work around that with a dynamic import.
    // See https://gitlab.com/gitlab-org/gitlab-ui/-/issues/1900.
    GlCollapsibleListbox: () =>
      import('@gitlab/ui/src/components/base/new_dropdowns/listbox/listbox.vue'),
  },
  data() {
    return {
      selected: 'default',
    };
  },
  computed: {
    src() {
      return this.$options.modeTokens[this.selected].gl;
    },
    tokens() {
      return Object.keys(this.src);
    },
    colors() {
      return Object.keys(this.src.color);
    },
  },
  methods: {
    getHeading(string) {
      return startCase(string);
    },
    onChange(value) {
      this.isDarkMode = value;
    },
  },
};
</script>

<template>
  <main
    class="gl-p-5 gl-display-flex gl-flex-direction-column gl-align-items-flex-start gl-lg-flex-direction-row gl-gap-5"
  >
    <div class="gl-sticky gl-top-5 gl-w-20 gl-xs-w-full">
      <nav class="gl-w-20 gl-xs-w-full">
        <ul class="gl-p-0 gl-mb-5 gl-list-style-none">
          <li v-for="token in tokens" :key="token">
            <a :href="`#${token}`">
              {{ getHeading(token) }}
            </a>
          </li>
        </ul>
      </nav>
      <gl-form-group label="Mode" label-for="component-listbox">
        <!--
          GlCollapsibleListbox requires client-only.
          See https://gitlab.com/gitlab-org/gitlab-ui/-/issues/1933.
        -->
        <client-only>
          <gl-collapsible-listbox
            id="component-listbox"
            v-model="selected"
            :selected="selected"
            :items="$options.modes"
            @search="query = $event"
          />
        </client-only>
      </gl-form-group>
    </div>
    <div class="gl-flex-grow-1">
      <section v-for="token in tokens" :key="token" :aria-label="getHeading(token)" class="gl-mb-5">
        <h2 :id="token" class="gl-font-size-markdown-h2 gl-mb-3">
          {{ getHeading(token) }}
        </h2>
        <template v-if="token === 'color'">
          <section v-for="color in colors" :key="color" :aria-label="getHeading(color)" class="gl-mb-5">
            <h3 class="gl-font-size-markdown-h3 gl-mb-3">
              {{ getHeading(color) }}
            </h3>
            <token-table type="color" :tokens="src.color[color]" />
          </section>
        </template>
        <template v-else>
          <token-table :type="token" :tokens="src[token]" />
        </template>
      </section>
    </div>
  </main>
</template>
