html,
body,
#__nuxt,
#__layout {
  min-height: 100%;
}

@keyframes example {
  0% { transform: translate3d(0, 0, 0); }
  50% { transform: translate3d(200%, 0, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.duration-example {
  animation-name: example;
  animation-iteration-count: infinite;
}
