<script>
export default {
  name: 'DesignToken',
  props: {
    href: {
      type: String,
      default: null,
      required: false,
    },
    value: {
      type: String,
      required: true,
    },
  },
  computed: {
    elem() {
      return this.href ? 'a' : 'code';
    }
  }
};
</script>

<template>
  <component
    :is="elem"
    class="gl-font-monospace gl-font-sm gl-px-3 gl-py-2 gl-bg-gray-100 gl-reset-color! gl-rounded-base"
    :href="href"
  >
    {{ value }}
  </component>
</template>
