<script>

export default {
  name: 'SampleBorderSize',
  props: {
    value: {
      type: String,
      required: true,
    },
  },
};
</script>

<template>
  <div
    class="gl-w-10 gl-border-t-solid gl-border-gray-500"
    :style="{ 'border-top-width': value }"
  />
</template>
