<script>

export default {
  name: 'SampleFontWeight',
  props: {
    value: {
      type: String,
      required: true,
    },
  },
};
</script>

<template>
  <div
    :style="{ 'font-weight': value }"
  >
    Font weight
  </div>
</template>
