<script>

export default {
  name: 'SampleColor',
  props: {
    value: {
      type: String,
      required: true,
    },
  },
};
</script>

<template>
  <div
    class="gl-h-5 gl-w-10 gl-rounded-base"
    :style="{ 'background-color': value }"
  />
</template>
