<script>

export default {
  name: 'SampleBorderRadius',
  props: {
    value: {
      type: String,
      required: true,
    },
  },
};
</script>

<template>
  <div
    class="gl-h-7 gl-w-7 gl-border-t-solid gl-border-l-solid gl-border-gray-500"
    :style="{ 'border-top-left-radius': value }"
  />
</template>
