<script>

export default {
  name: 'SampleSpacing',
  props: {
    value: {
      type: String,
      required: true,
    },
  },
};
</script>

<template>
  <div class="gl-display-flex gl-align-items-center">
    <div class="gl-h-3 gl-w-3 gl-rounded-full gl-bg-blue-500" />
    <div class="gl-h-2 gl-bg-blue-100" :style="{ 'width': value }" />
    <div class="gl-h-3 gl-w-3 gl-rounded-full gl-bg-blue-500" />
  </div>
</template>
