<script>

export default {
  name: 'SampleShadow',
  props: {
    value: {
      type: String,
      required: true,
    },
  },
};
</script>

<template>
  <div class="gl-h-8 gl-w-8 gl-rounded-base" :style="{ 'box-shadow': value }" />
</template>
