<script>

export default {
  name: 'SampleLineHeight',
  props: {
    value: {
      type: String,
      required: true,
    },
  },
};
</script>

<template>
  <div
    class="gl-relative gl-display-inline-block gl-bg-blue-100"
    :style="{ 'line-height': value }"
  >
    <div class="gl-absolute gl-top-half gl-mt-n3 gl-left-0 gl-right-0 gl-h-5 gl-border-t gl-border-b gl-border-blue-500" />
    Line height
  </div>
</template>
