<script>

export default {
  name: 'SampleDuration',
  props: {
    value: {
      type: String,
      required: true,
    },
  },
};
</script>

<template>
  <div
    class="gl-h-3 gl-w-3 gl-rounded-full gl-bg-blue-500 duration-example"
    :style="{ 'animation-duration': value }"
  />
</template>
