<script>

export default {
  name: 'SampleFontSize',
  props: {
    value: {
      type: String,
      required: true,
    },
  },
};
</script>

<template>
  <div
    :style="{ 'font-size': value }"
  >
    Font size
  </div>
</template>
