<script>
import GlTableLite from '@gitlab/ui/src/components/base/table/table.vue';
import DesignToken from '../components/design_token.vue';
import SampleBorderRadius from '../components/sample_border_radius.vue';
import SampleBorderSize from '../components/sample_border_size.vue';
import SampleColor from '../components/sample_color.vue';
import SampleDuration from '../components/sample_duration.vue';
import SampleFontSize from '../components/sample_font_size.vue';
import SampleFontWeight from '../components/sample_font_weight.vue';
import SampleLineHeight from '../components/sample_line_height.vue';
import SampleShadow from '../components/sample_shadow.vue';
import SampleSpacing from '../components/sample_spacing.vue';
import { transformTokensToTableRows } from '../utils/utils'

export default {
  name: 'TokenTable',
  components: {
    GlTableLite,
    DesignToken,
    SampleBorderRadius,
    SampleBorderSize,
    SampleColor,
    SampleDuration,
    SampleFontSize,
    SampleFontWeight,
    SampleLineHeight,
    SampleShadow,
    SampleSpacing,
  },
  fields: [
    {
      key: 'name',
      label: 'Name',
      tdClass: 'gl-xs-w-full! gl-w-25p gl-vertical-align-middle!',
    },
    {
      key: 'value',
      label: 'Value',
      tdClass: 'gl-xs-w-full! gl-w-25p gl-vertical-align-middle!',
    },
    {
      key: 'sample',
      label: 'Sample',
      tdClass: 'gl-xs-w-full! gl-w-half gl-vertical-align-middle!',
    },
  ],
  props: {
    type: {
      type: String,
      required: true,
    },
    tokens: {
      type: Object,
      required: true,
    },
  },
  computed: {
    items() {
      return transformTokensToTableRows(this.tokens);
    },
    sampleComponent() {
      return `sample-${this.type}`;
    },
  },
};
</script>

<template>
  <gl-table-lite
    :items="items"
    :fields="$options.fields"
    :tbody-tr-attr="(item) => ({ 'id': item.name })"
    hover
    stacked="md"
  >
    <template #cell(name)="{ item: { name } }">
      <design-token :value="name" />
    </template>
    <template #cell(value)="{ item: { value, original } }">
      <design-token
        v-if="original"
        :href="`#${original}`"
        :value="original"
      />
      <code v-else class="gl-reset-color!">{{ value }}</code>
    </template>
    <template #cell(sample)="{ item: { value } }">
      <component :is="sampleComponent" :value="value" />
    </template>
  </gl-table-lite>
</template>
